.parentContainer{
    background-color: black ;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    position: relative;
}
.imgContainer{
    background-image: url(https://images.everydayhealth.com/images/what-are-natural-skin-care-products-alt-1440x810.jpg);
    height: 600px;
    width: 1500px;
    padding: 50px;
    background-size: cover;
    font-size: 60px;
    font-style: bold;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
    
.verticle{
   border: none;
    border: 0px 0px 0px 0px;
    border-style: solid;
    border-color:white;
    position: absolute;
    left: 25%;
    right: 75%;
    height: 100px;
}
.text2{
    float: right;
}
.text3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.text4{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.carousel-inner{
    padding: 50px;
}